.positions_page {
    /* position: relative; */
    /* top: 518px; */
    background-color: #fff;
    
}
.position_heading{
    border-left:6px solid #3535DE;
}
.linkedin_btn{
    border: 1px solid #3535DE!important;
}