.designDevelopment_container{
    position: relative;
}

.content1 {
    position: absolute;
    top: 100px;
    color: white;
}
.DD_heading{
    font-size: 75px;
}

.ddimg_para1{
    border-left: 6px solid #3535DE;
}
