.designDevelopment_container {
    position: relative;
    width: 100%;
}

.designDevelopment_container img {
    width: 100%;
}

.DD_img1 {
    position: absolute;
    top: 0;
    width: 100vw;
    left: 0;
}

.content {
    position: absolute;
    color: white;
    z-index: 2;
}

.content h1 {
    font-size: 5rem;
    margin: 0;
}
.ddimg_para1{
    border-left: 6px solid #3535DE;
}

.ddimg_para2{
    background-color: #00000095;

}
