.designDevelopment_container{
    position: relative;
   
}

.container-design{
    width:80%;
    margin-left:auto;
    margin-right:auto;
}
.Designheadingtext{
   
    font-size:75px;
    color:white;
    margin:0;
    letter-spacing:5px;
}

.content1 {
    position: absolute;
    top: 100px;
    color: white;
}

.wtdiv{
    width:90%;
    background-color: rgba(1, 1, 9, 0.8);
  backdrop-filter: blur(10px); /* Adjust the blur value as needed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  

}


@media only screen and (max-width:425px){
    .Designheadingtext{
        font-size:47.67px;
        line-height:50px;
    }
    .container-design{
        width:95%;
       
    }
    .designDevelopment_container{
       height:100vh;

    }
    
}