.main_project{
    position: relative;
    top: 1800px;
    background-color: #0D0E1E;
}
.form-control{
    background-color: transparent;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-radius: 0;
    /* border-bottom:gray !important; */
}
.form-control1{
    width: 100%;
    background-color: transparent;

}
.project_btn{
    border: none;
    border-radius: 3px;
}
.form-control1 {
    width: 100%;
    padding: 1rem;
    border: 1px solid white;
    border-radius: 0.25rem;
    color: #ffffff; /* Text color */
}
.form-label {
    display: block;
    margin-bottom: 0.5rem;
}