
.A-project , .card-title{
  font-size:48px;
  font-family:Arimo;
  font-weight: 800;
}
.A-project{
  line-height:45px;
}
.card-title{
  line-height:26px;
}

.main_project {
    position: relative;
    top: 100px;
    background-color: #0D0E1E;
  }

  input:focus, textarea:focus, select:focus {
    outline: none;
    box-shadow: none;
  }
  
  .form-control {
    background-color: transparent;
    border-bottom: 1px solid;
    border-radius: 0;
    color: white;
  }
  .projecttext{
font-size:18px;
font-weight:100px;
line-height:37.5px;
padding-right:50px;
font-family:Arimo;
color:white;
  }
  
  ::placeholder {
    color: white;
    opacity: 1; 
  }
  
  :-ms-input-placeholder {
    color: white;
  }
  
  ::-ms-input-placeholder {
    color: white;
  }
  .fomcontainer{
    width:80%;
    margin-left:auto;
    margin-right:auto;
  }
.form-label{
  font-size:18px;
  font-family:poor Richard;
  font-weight: 100;
}
  @media only screen and (max-width:425px){
    .card-title{
      font-size:26px;
    }
    .A-project{
      font-size:36px;
    }
    .projecttext{
      font-size:12px;
      font-weight:100px;
      line-height:15.5px;
      padding-right:0px;
        }
        .fomcontainer{
          width:90%;
          margin-left:auto;
          margin-right:auto;
        }
        .main_project {
         
          top: 0px;
          
        }
        
  }
  