.main_project {
    position: relative;
    top: 100px;
    background-color: #0D0E1E;
  }
  .card-title{
    font-size:48px;
  }
  input:focus, textarea:focus, select:focus {
    outline: none;
    box-shadow: none;
  }
  
  .form-control {
    background-color: transparent;
    border-bottom: 1px solid;
    border-radius: 0;
    color: white;
  }
  .projecttext{
font-size:18px;
font-weight:100px;
line-height:37.5px;
padding-right:50px;
  }
  
  ::placeholder {
    color: white;
    opacity: 1; 
  }
  
  :-ms-input-placeholder {
    color: white;
  }
  
  ::-ms-input-placeholder {
    color: white;
  }

  @media only screen and (max-width:450px){
    .card-title{
      font-size:26px;
    }
    .projecttext{
      font-size:14px;
      font-weight:100px;
      line-height:15.5px;
      padding-right:0px;
        }
  }
  