.pro_heading {
    border-left: 6px solid #3535de;
  }
  
  .product_head {
    position: relative;
    bottom: 200px;
    width: 80%;
    margin: auto;
    height:auto;
  }
  
  .product_card img {
    height: 350px;
    transition: 0.5s;
  }
  
  .product_card:hover .intro {
    height:240px;
    background: white;
    color: #000;
  }
  
  .product_card:hover .card_text {
    opacity: 1;
    visibility: visible;
  }
  
  .product_card:hover .product_img {
    transform: scale(1.1) rotate(-3deg);
  }
  

 
.intro {
    height: 70px;
    box-sizing: border-box;
    position: absolute;
    background: white;
    color: white;
    bottom: 0px;
    transition: 0.9s;
    overflow: hidden;
  }
  

  
  .card_text {
    visibility: hidden;
    opacity: 0;
  }
  .card_text{
    font-size:16px;
  }
  @media only screen and (max-width: 450px) {
    .product_head {
      position: relative;
      bottom: 100px;
      width: 90%;
      margin: auto;
      margin-top:-100px;
      
    }
    .product_card img {
      height: 240px;
      
      
    }
    .intro {
      height: 40px;
     
    }
    
    .product_card:hover .intro {
      height:180px;
      
    }

    .producttitle{
      font-size:14px;
    }
    .card_text{
      font-size:12px;
      line-height:12px;
    }
  }
 
  