/* HeadingComponent.css */

.headingmain{
    font-size:36px;
    margin-top:15px;
    line-height:5px;
    font-family:poor Richard;
}
.line{
height:45px;
width:6px;
background-color:#3535DE;
border-radius:100px;
}
.subheadingmain{
font-size:13.58px;
font-family:arima;
}

@media (max-width: 450px) {
  .headingmain{
    font-size:24px;
    line-height:25px;
   
}
    .line{
        height:45px;
    }
  }
  