.recovery_content {
    position: absolute;
    top: 120px;
}

.Launcher-Systems{
    font-size: 96px;

}
.We-adapt{
    letter-spacing:1px;
    background-color: rgba(13, 14, 30, 0.8); /* #0D0E1E with 80% opacity */
  backdrop-filter: blur(10px); /* Optional: Adds a blur effect to the background */
  border-radius: 8px; /* Optional: Adds rounded corners */
}
.We-Do{
    margin-top:90px;
}
@media only screen and (max-width:425px){
    .recovery_content1{
        height:100vh;
    }
    .Launcher-Systems{
        font-size: 48px;
    
    }
    .recovery_content {
       
        top: 100px;
    }
    .We-Do{
        margin-top:50px;
    }
    .We-adapt{
      width:95%;
    }
}

