
.inetrnship_page{
    width:80%;
    margin-left:auto;
    margin-right:auto;
}

.Pre-Placement{
    font-size:24px;
}

.Internship-performance-img{
width:100%;
border-radius:10px;
height:330px;
}
@media only screen and (max-width:425px){
    .inetrnship_page{
        width:100%
    }
    .Internship-performance-img{
        width:100%;
        height:170px;
        }
    .intern_heading {
        font-size:24px;
    }
   
    .interimg{
        /* height:200px; */
    }
}