

.intern_heading{
    border-left: 6px solid #3535DE;
}
@media only screen and (max-width:425px){
    .card img{
        width:100%;
    }
    .intern_heading {
        font-size:24px;
    }
    .intern_subheading{
        font-size:12px;
    }
    .interimg{
        /* height:200px; */
    }
}