.arialmain_container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  position:relative;
}

.arialmain_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.aerial_robotics_main{
    position:absolute;
    top:120px;

}
.aerial_robotics{
    font-size:96px;
}
.heading_aerial{
    margin-top:50px;
}
.aerial_para{
  background-color: rgba(1, 1, 9, 0.8); /* #010109 with 80% opacity */
  backdrop-filter: blur(10px); /* Optional: Adds a blur effect to the background */
  border-radius: 8px; /* Optional: Adds rounded corners */
    letter-spacing:1px;
}

@media only screen and (max-width:425px){
  .aerial_robotics{
    font-size:48px;
}
.aerial_robotics_main{
 
  top:80px;

}
.heading_aerial{
  margin-top:20px;
}
.arialmain_img {
  width: 100%;
  height: 100%;
 
}
}
