.hidden {
  display: none;
}

.visible {
  display: block;
}

.composite_main {
  width: 100%;
  position: relative;
}
.composite_items {
  text-decoration: none;
  color: #414042;
  focus: none;
}

.card-container {
  position: relative;
  transform-origin: top center;
  transition: transform 0.3s ease-in-out;
}

.scroll-button {
  position: absolute;
  top:0px;
  right: 60px;
  width: 40px;
  height: 130px;
  background-color: gray;
  cursor: pointer;
  user-select: none;
}

.composite_card {
  width: 469.5px;
  height: 330px;
  border: 1px solid #3535DE;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-fluid_composite {
  width: 204px;
  height: 243px;
}

.build-spacification {
  font-size: 72px;
  color: #3535DE;
  margin-top:100px;
}

.myrow {
  /* Add any necessary styles */
}

.fixed-main-text {
  position: fixed;
  width: 50%;
  background-color: white;
  z-index: 1;
}
