/* .scroll_img, .scroll_heading {
  opacity: 0;
  transform: scale(0.8);
  transition: transform 0.9s, opacity 0.5s;
}

.scroll_img.visible, .scroll_heading.visible {
  opacity: 1;
  transform: scale(1);
}
.card{
  display: flex;
  align-items: center;
  min-height: 200px; 
}
.list-group-item,  {

  align-items: center;
  min-height: 200px; 
}

.list-group-item h3, .card h3 {
  margin-bottom: 0;
} */


.composititem {
  text-decoration: none;
}

.composititem:hover {
  text-decoration: none;
}
.custom-row {
  position: relative;
}
.compositecard{
  height:375px;
}

.scroll_img,
.composititem p {
  transition: transform 0.3s ease;
}

.visible .scroll_img,
.visible .composititem p {
  transform: scale(1.1);
}

.card {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrollspy-example {
  position: relative;
  height: 100%;
  overflow-y: auto;
}

.scroll_img {
  max-width: 100%;
  max-height: 100%;
}

.composititem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
