
.carrerCard_page{
    position:relative;
    /* top: 518px; */
    background-color: #fff;
}

.career_heading{
    border-left: 6px solid #3535DE;
}

.careerCardimg{
    height: 120px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.careerpara{
    font-size:18px;
}
@media only screen and (max-width:425px){
    .careerpara{
        font-size:12px;
    }
}