.parachute_container{
    position: relative;
}
.lighter-than{
    font-size:72px;
    
}

.parachute_container{
    height:100vh;
}
.launchimg1{
    height:100vh;

}
.we-specialize{
    letter-spacing:1px;
}
.prachut-card {
    background-color: rgba(13, 14, 30, 0.43); /* #0D0E1E with 80% opacity */
    backdrop-filter: blur(10px); /* Optional: Adds a blur effect to the background */
    border-radius: 8px; /* Optional: Adds rounded corners */
}

@media only screen and (max-width:425px){
    .lighter-than{
        font-size:36px;
        margin-top:-30px;
    }
    .parachutmainhead{
        width:98%;
        margin-left:auto;
        margin-right:auto;
    }
    .we-specialize{
      margin:0px;
    }
    .launchimg1{
        height:100vh;
    }
}




