.parachute_container{
    position: relative;
}
.lighter-than{
    font-size:72px;
    
}

.parachute_container{
    height:100vh;
}
.launchimg1{
    height:100vh;

}
.we-specialize{
    letter-spacing:1px;
}

@media only screen and (max-width:425px){
    .lighter-than{
        font-size:36px;
        margin-top:-30px;
    }
    .parachutmainhead{
        width:98%;
        margin-left:auto;
        margin-right:auto;
    }
}




