.pillar_heading{
    border-left: 6px solid #3535DE;
}
.This-engineering{
    font-size:18px;
    line-height:0px;
}

.pillar_card img{
    

}
.piller-card-img{
    height: 380px;
    width:100%;
}
.pillar_body2{
    border-top:8px solid  #3535DE;
}
@media only screen and (max-width:425px){
    .pillar_card img{
        height: 200px;    
    }
   .fourpillarspara{
    font-size:12px;
   }
}
