
.MMimg_para{
    background-color: rgba(0,0,0,0.75);
    /* padding: 70px;    */
}
.pre_heading{
    font-size: 128px;
}
.pmcontaint{
    font-size:36px;
    font-family:arimo;
}
.pmcontaintpara{
    font-size:48px;
    font-weight:bold;
    border-bottom:5px solid #3535DE;
}

.content1 {
    position: absolute;
    top: 100px;
    color: white;
}
.pricioncontainer{
    width:80%;
    margin-left:auto;
    margin-right:auto;
}

@media only screen and (max-width:425px){
    .pricioncontainer{
        width:100%;
    }
    .manufactureimg{
        height:80vh;
    }
    .pre_heading{
        font-size:48px;
    }
    .pmcontaint{
        font-size:18px;
       
    }
    .pmcontaintpara{
        font-size:22px;
        
    }
}
