.advanceManu_page {
    position: relative;
    width: 100%;
}

.advanceManu_page img {
    width: 100%;
}

.advManufactureimg2 {
    position: absolute;
    top: 0;
    width: 100vw;
    left: 0;
}

.advanceManu_content {
    position: absolute;
    color: white;
    z-index: 2;
    top: 120px;
}

.advanceManu_content h1 {
    font-size: 4rem;
    margin: 0;
}
.advanceManu_para1{
    border-left: 6px solid #3535DE;
}

.advanceManu_para2{
    background-color: rgba(0,0,0,0.85);
border-radius: 5px;
}
