

.advanceManu_page img {
    width: 100%;
}
.am_text{
    font-size: 75px;
}
.advManufactureimg2 {
    position: absolute;
    top: 0;
    /* width: 100vw; */
    left: 0;
}

.advanceManu_content {
    position: absolute;
    color: white;
    /* z-index: 2; */
    top: 120px;
}

.advanceManu_para1{
    border-left: 6px solid #3535DE;
}


