.fixedUAV_page{
    background-color: rgba(0,0,0,0.75);
    width:85%;
}


.heading-bottom {
    line-height: 1.8; 
}
.our-client,.uav{
    letter-spacing:1px;
}
.fixedUAV_page{
    margin-top:200px;
}


