.fixedUAV_page{
    background-color: rgba(0,0,0,0.75);
    width:85%;
}


.heading-bottom {
    line-height: 1.8; 
}
.our-client,.uav{
    letter-spacing:1px;
}
.fixedUAV_page{
    margin-top:200px;
}

@media only screen and (max-width:425px){
    .fixedUAV_page{
        margin-top:60px;
    }
    .fixedUAV_page{
       
        width:95%;
    }
    .heading-bottom {
        line-height: 1; 
    }
    .fixed_card_img{
        width:60px;
        height:80px;
    }
}


