.fixedUAV_page{
    background-color: rgba(13, 14, 30, 0.8); /* #0D0E1E with 80% opacity */
    backdrop-filter: blur(10px); /* Optional: Adds a blur effect to the background */
    border-radius: 8px; /* Optional: Adds rounded corners */
    width:85%;
}


.heading-bottom {
    line-height: 2.5; 
}
.our-client,.uav{
    letter-spacing:1px;
}
.fixedUAV_page{
    margin-top:200px;
}

@media only screen and (max-width:425px){
    .fixedUAV_page{
        margin-top:60px;
    }
    .fixedUAV_page{
       
        width:95%;
    }
    .heading-bottom {
        line-height: 1; 
    }
    .fixed_card_img{
        width:60px;
        height:80px;
    }
}


