
.composite_content {
    position: absolute;
    color: white;
    z-index: 2;
    top: 120px;
}

.Advance-Composite {
    font-size: 96px;
    margin: 0;
}

.compo_para1 {
    border-left: 6px solid #3535DE;
}

.compo_para2 {
    background-color: rgba(1, 1, 9, 0.8); /* #010109 with 80% opacity */
  backdrop-filter: blur(10px); /* Optional: Adds a blur effect to the background */
  border-radius: 8px; /* Optional: Adds rounded corners */
    border-radius: 5px;
    width:90%;
    letter-spacing:1px;
}

@media only screen and (max-width:425px){
    .composite_page{
        height:100vh;
    
    }
    .compositeimg1{
        height:100vh;
    }
    .Advance-Composite{
        font-size: 48px;
       
    }
    .compo_para2{
        font-size:12px;
    }
    .composite_content {
       
        top: 80px;
    }
}