
.composite_content {
    position: absolute;
    color: white;
    z-index: 2;
    top: 120px;
}

.composite_content h1 {
    font-size: 96px;
    margin: 0;
}

.compo_para1 {
    border-left: 6px solid #3535DE;
}

.compo_para2 {
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 5px;
}

@media only screen and (max-width:425px){
    .composite_page{
        height:100vh;
    
    }
    .compositeimg1{
        height:100vh;
    }
    .composite_content h1 {
        font-size: 48px;
       
    }
    .compo_para2{
        font-size:12px;
    }
}