.capability_heading{
    border-left: 6px solid #3535DE;
}
.capability_img{
    width: 80px;
    height: 80px;
}
.card_title{
    color: #3535DE;
}

.card {
    position: relative;
    overflow: hidden; /* Ensure the overflow is hidden to contain absolute positioned elements */
}

.card-body {
    position: relative;
    transition: transform 0.3s ease;
}

.card:hover .card-body {
    transform: translateY(-20px); /* Move the card body up by 20px on hover */
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hover-list {
    display: none; /* Initially hide the list */
    position: absolute;
    bottom: -100%; /* Position the list below the card initially */
    left: 0;
    width: 100%;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: bottom 0.3s ease; /* Smooth transition for the list */
}

.card:hover .hover-list {
    display: block; /* Show the list on hover */
    bottom: 0; /* Move the list to the bottom of the card */
}





