.container-capability {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.cardimg{
    height:430px;
    border:2px solid #3535DE;

}

.card-body-capability {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    transition: all 2s ease-in-out;
}

.cap_card {
    position: relative;
    transition: all 2s ease-in-out;
}

.cap_card:hover .card-body-capability {
    flex-direction: column; /* Keep column layout */
    align-items: center;
}

.card-body {
    margin: 10px;
}

.productimg {
    width: 70px;
    height: 70px;
    transition: all 2s ease-in-out;
}

.cap_card:hover .productimg {
    width: 50px;
    height: 50px;
}

.capability_img {
    width: 100px;
    height: 100px;
    transition: all 2s ease-in-out;
}
.aps{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.cap_card:hover .capability_img {
    width: 70px;
    height: 70px;
    
}
.cap_card:hover .aps {
    display:flex;
    flex-direction:row;
    margin-top:-40px;
    
}

.card_title {
    color: #3535DE;
    text-align: center;
    margin: 0;
    line-height: 1.2;
    width: 100%;
    font-size: 32px;
    font-family: arimo;
    font-weight: bold;
    transition: all 2s ease-in-out;
}

.cap_card:hover .card_title {
    font-size: 24px;
}


.list-styled {
    display: none;
    /* margin-top: 100px; */
    font-size: 24px;
    transition: all 2s ease-in-out;
}

.cap_card:hover .list-styled {
    display: flex;
    flex-direction: column; /* Arrange list items in a column */
    /* align-items: center;  */
    position: relative;
    top: 0;
    margin-top: 20px; /* Adjust margin to position the list below the images and title */
}

.cap_card:hover .card-body-capability {
    display: flex;
    flex-direction: column; /* Main flex direction column */
    align-items: center;
}

.cap_card:hover .card-title-img {
    display: flex;
    flex-direction: row; /* Arrange images and title in a row */
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px; /* Space between items */
}

@media only screen and (max-width: 425px) {
    .container-capability {
        width: 97%;
    }

    .list-styled {
        width: 90%;
        font-size: 9px;
    }

    .cap_card:hover .list-styled {
        display: flex;
        flex-direction: column; /* Arrange list items in a column */
        align-items: center; /* Center the list items */
        position: relative;
        top: 0;
        margin-top: 10px; /* Adjust margin to position the list below the images and title */
    }

    .cardimg .capability_img {
        width: 60px;
        height: 60px;
        transition: all 2s ease-in-out;
    }

    .cardimg .productimg {
        width: 40px;
        height: 40px;
        transition: all 2s ease-in-out;
    }

    .card_title {
        font-size: 16px;
    }

    .cap_card:hover .card_title {
        font-size: 12px;
    }

    .cap_card:hover .capability_img {
        width: 20px;
        height: 20px;
    }

    .cap_card:hover .productimg {
        width: 20px;
        height: 20px;
    }

    .cap_card:hover .card-title-img {
        flex-direction: row; /* Ensure row layout on smaller screens */
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 5px; /* Adjust space between items */
    }
}
