.launch_container {
    position: relative;
    width: 100%;
}

.launch_container img {
    width: 100%;
}

.launchimg2 {
    position: absolute;
    top: 0;
    width: 100vw;
    left: 0;
}

.launch_content {
    position: absolute;
    color: white;
    z-index: 2;
    top: 120px;
}

.launch_content h1 {
    font-size: 4rem;
    margin: 0;
}
.lrdimg_para1{
    border-left: 6px solid #3535DE;
}

.lrdimg_para2{
    background-color: rgba(0,0,0,0.85);
border-radius: 5px;
}
