.titlecontact{
    font-size:14.25px;
}
.subaddrescontact{
    font-size:12px;
    
}


.touch_heading{
    border-left: 6px solid #3535DE;
}
.contact_icon{
    background-color: #000;
    padding: 15px;
    color: #fff;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact_border{
    border-bottom: 1px solid black;
}

.form-label{
    font-size: 20px;
    color: #3535DE;
}
.hrliness{
    width:5px;
    height:85%;
    background-color:lightgray;
    border:2px solid lightgray;
}
@media only screen and(max-width:425px){
    .touch_page{
        width:100%;
    }
    
    
    
}