
.home_page{
    background-color: #0D0E1E;
    overflow-x: hidden;
}

.home_heading{
    position: absolute;
    top: 100px;
    /* letter-spacing: 5px; */
   margin: 0px;
}

/* .transimg1 {
    height: 400px;
    background-repeat: no-repeat;
}

.top-right-images {
    position: absolute;
    top: 0px;
    right: 0;
    display: flex;
    flex-direction: column;
}

img.overlay-img2 {
    position: absolute;
    width: 237px;
    left: 171px;
    top: -1px;
}

img.overlay-img1 {
    position: relative;
    right: -191px;
    bottom: 129px;
}

img.overlay-img3 {
    position: absolute;
    top: -219px;
    left: 269px;
}

.top-right-images {
    overflow: hidden;
}

.transimg {

    height: 500px;
    position: absolute;
    top: 300px;
    left: 0;
    width: 450px;
}

img.transimg2 {
    position: absolute;
    top: 724px;
    left: 0;
    width: 180px;
}

.header_text {
    position: absolute;
    top: 140px;
    left: 55px;
}

.header_text h1 {
    font-family: sans-serif;
}

.header_text p {
    margin-top: -10px;
}

.txt1 {
    border-left: 3px solid blue;
    position: absolute;
    left: 600px;
    top: 391px;
}

.txt2{
    position: absolute;
    left: 600px;
    top: 450px;
    font-size: 12px;
    background-color: black;
    border-radius: 5px;
    width: 500px;
} */


