.feature_head {
    position: relative;
}

 .furtblog{
    width:80%;
    margin:auto;
 }
.frtbtn1{
    margin-left: 200px;
}
.frtbtn2{
    margin-left: 380px;
    
}
.furtblogbtn{        
    gap:65px;
}


.frt_heading2 {
    border-left: 3px solid blue;
}


.frt_txt {
    border-left: 4px solid blue;
}

.join_team {
    
    position: relative;
    top: 100px;
    border:1px solid  rgb(235, 229, 229);
   

}
.blog_btn{
    position: absolute;
    left:0;
    top:77px;
   
}
.join-team-heading{
    font-size:36px;
}
.join-team-sub{
    font-size:18px;
}
@media only screen and (max-width: 450px) {
    .furtblog{
        width:90%;
        margin-left:auto;
        margin-right:auto;
        padding-left:20px;
        /* margin:auto; */
     }
    .furtcards{
        width:100%;
        margin:auto;
        align-item:center;
        justify-containt:center;
       
    }
    .furtblogbtn{        
        gap:20px;
    }
    .furtimg{
        width:100%;
    }
    .furtimg img{
        width:350px;
    }
    .blog_btn{
        top:70px;
    }
    .frtbtn2{
        margin-left: 120px;
        
    }
    .join-team-heading{
        font-size:26px;
    }
    .join-team-sub{
        font-size:14px;
    }
}
