.feature_head {
    position: relative;
}

 .furtblog{
    width:80%;
    margin:auto;
 }
.frtbtn1{
    margin-left: 200px;
}
.frtbtn2{
    margin-left: 390px;
    
}


.frt_heading2 {
    border-left: 3px solid blue;
}


.frt_txt {
    border-left: 4px solid blue;
}

.join_team {
    
    position: relative;
    top: 100px;
    /* background:rgb(205, 209, 209); */
    border:1px solid  rgb(235, 229, 229);
   

}
.blog_btn{
    position: absolute;
    left:0;
    top:77px;
   
}
