
.design_head{
    padding-top:50px;
}
.designdevelopment{
    background-color:#0D0E1E;
    width:93%;
    margin:auto;
    opacity:80%;
}





@media only screen and (max-width: 450px) {
    .design_head{
        width:100%;

    }
    .designimg{
        gap:160px;
    }
    .ddimg1{
        width:50%;
    }
    .ddimg2{
        width:70%;
    }
    .dd_heading{
        font-size:26px;
    }
    
    .designbutton{
        font-size:14px;
        margin-top:-20px;
    }
    
   
}
