/* Navbar.css */

.home_bgImg1 {
  width: 100vw;
}
.navbarmain{
  height:70px;

}
.text-light{
  color:#FBFBFE;
}

.navbar {
  z-index: 3;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 1px solid #414042;
  
}



.navbar-nav .nav-item {
  margin-right: 50px;
}

.navbar-nav .nav-item:last-child {
  margin-right: 0;
}

.bg-img {
  position: absolute;
  top: 0;
  right: 0;
}

.bg-logo {
  width: 86px;
  height: 50px;
}

.centered-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}



@media only screen and (max-width: 450px) {
  .navbar {
    width: 100%;
  }
  .navbarmain{
    height:54px;
  
  }

  .navbar-toggler {
    border: none;
    background: transparent;
  }

  .navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-width='2' linecap='round' linejoin='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

  .mobile-menu {
    position: absolute;
    top: 52px;
    right: 0;
    width: 70%;
    background-color: white;
    border-top: 1px solid #414042;
    z-index: 2;
  }

  .mobile-menu .navbar-nav {
    padding: 10px;
  }

  .logo_img {
    position: relative; /* Change to relative for left alignment */
    left: 0; /* Align to left */
    width: 60px; /* Adjust width as needed */
  }
  .mobail{
    background-color: rgba(0,0,0, 0.9); 
  }
}
