
.contact_bgimg{
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
    z-index: -1;
}


@media only screen and (max-width:425px){
    
    .contact_bgimg{
        
        height:50vh;
    }
}