.body_carousel{
    margin-top:160px;
    width:100%;
    margin-left:265px;
}

.previ{
    margin-left:50px
}
.next{
    margin-left:-1200px;
}
.carousel_para{
    width:75%;
    padding:30px;
    margin-top:20px;
    margin-left:-30px;
}
.carouselimg{
width:994.25px;
height:598.5px;
}
.description{
  font-size:18px;
  font-family:arimo;
  font-weight:100;
}


@media only screen and (max-width: 450px) {
    .body_carousel{
        width:60%;
        margin:auto;
        margin-top:0px;
    }
   .carousel-item img {
        /* width: 100; */
        /* width:360px; */
        
      }
      .carouselimg{
        
          width:335px;
          
        height:280px;
      }
      .carousaliner{
        margin-top:-170px;
        
      }
      .carausaltext-head{
        margin-top:-60px;
        margin-left:-40px;
        
      }
      .carausaltext-heading{
        font-size:26px;
        padding:0px;
        line-height:20px;
        
      }
      .carausaltext-subheading{
        font-size:12px;
      }
      
      .previ{
        margin-top:-70px;
        margin-left:20px;
        width:20px;
      }
      .next{
        margin-left:-90px;
        width:20px;
        margin-top:-70px;
    }
      .carousel_para{
        width:90%;
        padding:10px;
        margin-top:-95px;
        margin-left:-120px;
        font-size:12px;
    }
    .description{
      font-size:12px;
      line-height:15px;
      font-weight:100;
      
    }
   
    .body_carousel{
      margin-top:100px;
      width:80%;
      margin-left:20px;
    
  }
    
}