.Engineering-Service {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


.eng-para1 {
    font-size: 24px;
}

@media only screen and (max-width: 425px) {
    .Engineering-Service {
        width: 100%;
    }

    .eng-para1 {
        font-size: 12px;
    }


   
}