.deliverybungee {
  width: 100%;
  height: 100vh;
  overflow: hidden; 
  position: relative;
}



.bungee_head {
  position: relative; 
}
.photo{
  top:80px;
}
.bungee_main,
.bungeehide,
.feature_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease, transform 0.5s ease;
  opacity: 0;
  visibility: hidden;
}
.See-bungee{
  font-size:24px;
}
.ulclassbungee{
color:#414042;
line-height:45px;
}

.feature_main_container,.bungeehide,.buggigmain {
  width:100%;
  margin-left:auto;
  margin-right:auto;
  margin-top:120px;
}

.bungee_main.visible,
.bungeehide.visible,
.feature_container.visible {
  opacity: 1;
  visibility: visible;
}

.description-cell, .value-cell {
  position: relative;
  letter-spacing: 1px;
  padding: 10px; 
}

.description-cell::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 1px;
  background-color: gray;
}

.bungeenumbermain {
  margin-top: 180px;
  height:100vh;
}

.numberbungee {
  font-size: 150px;
}

.buneeimg {
  width: 100%;
  height: 350px;
}

.bungeeimg {
  margin-top: 90px;
}
.rightblockcontainer{
  width: 80vh;
  height: 40vw;
  margin-left:30px;
}
.leftblock{
  width:50%;
}
.rightblock{
  width:50%;

}
@media only screen and (max-width:425px){
  .buneeimg {
    width: 100%;
    height: 220px;
    margin-top:50px;
  }
  .feature_main_container,.bungeehide,.buggigmain {
    width:95%;
  }
  .bungeenumbermain {
    margin-top: 50px;
    height:80vh;
  }
  .numberbungee {
    font-size: 80px;
  }
  .ulclassbungee{
    
    line-height:20px;
    }
    .bungeeimg {
      margin-top: 30px;
    }

    
    .buggigmain {
      margin-top:80px;
    }
    .deliverybungee {
      width: 100%;
      height: 80vh;
     
    }
    .See-bungee{
      font-size:14px;
    }
    
    .photo{
      top:0px;
      height:100%;
    }
    .rightblockcontainer{
      width: 45vw;
      height:35vh;
      margin-left:0px;
    }
    .leftblock{
      width:55%;
    }
    .rightblock{
      width:45%;
    }
}