.deliverybungee {
  width: 100%;
  height: 100vh;
  overflow: hidden; /* Prevent page scrolling */
  position: relative;
}

.scroll-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px; /* Set button width */
  height: 120px; /* Set button height */
  background-color: gray;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 1000; /* Ensure it sits above other content */
  transition: background-color 0.3s ease, top 0.3s ease;
}

.bungee_head {
  position: relative; /* Ensure the button is positioned relative to this div */
}

.bungee_main,
.bungeehide {
  transition: opacity 0.5s ease, transform 0.5s ease; /* Added transform transition */
  height: 100vh;
}

.bungee_main.hidden,
.bungeehide.hidden {
  opacity: 0;
  transform: translateY(20px); /* Slightly move the element down */
  visibility: hidden;
}

.bungee_main.visible,
.bungeehide.visible {
  opacity: 1;
  transform: translateY(0); /* Reset the position */
  visibility: visible;
}

.bungee_main.visible {
  transition-delay: 0s;
}

.bungee_main.hidden {
  transition-delay: 0.2s; /* Delay the hiding transition */
}

.bungeehide.visible {
  transition-delay: 0s;
}

.bungeehide.hidden {
  transition-delay: 0.2s; /* Delay the hiding transition */
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.description-cell, .value-cell {
  position: relative;
  letter-spacing:1px;
  padding: 10px; /* Adjust the padding as needed */
}

.description-cell::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 1px;
 
  background-color: gray; 
}

.bungeenumbermain {
  margin-top: 180px;
}

.numberbungee {
  font-size: 150px;
}

.buneeimg {
  width: 100%;
  height: 350px;
}

.bungeeimg {
  margin-top: 90px;
}
