
  .career-container {
    /* position: relative; */
    width: 100%;
    /* height: 80vh; */
    /* overflow: hidden; */
  }
  
  .background-image {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    /* height: 80vh; */
    /* background-size: cover; */
    /* background-position: center; */
    z-index: -1;
  }
  
  .overlay {
    position: absolute;
    top: 140px;
    left: 0;
    width: 100%;
    /* height: 100%; */
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    z-index: 1;
    color: white;
  }
  
  .content {
    position: relative;
    /* width: 100%; */
   
    color: white;
    /* padding: 20px; */
    box-sizing: border-box;
    z-index: 2;
  }

  .body_heading{
    font-size: 60px;
    letter-spacing: 7px;
  }
  