.paltform-container{
    width:80%;
    margin-left:auto;
    margin-right:auto;
}

.platform_img{
    height:240px;
}
.paltfomelable{
    height:50px;
    font-size:24px;
    font-family:arimo;
    font-weight:400px;
    border-top:2px solid #3535DE;
}

@media only screen and (max-width:425px){
    .paltform-container{
        width:95%;
    }
    .platform_img{
        height:160px;
    }
    .paltfomelable{
        height:30px;
        font-size:12px;
       
      
    }
    
}