.platform_heading{
    border-left: 6px solid #3535DE;
}
.platform_card{   
    margin: 0 auto;
}
.plaform_img{
    height: 350px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.card_body1{
    width: 0;
    height: 35%;
    border-left: 162px solid #3535DE;
    border-top: 70px solid transparent;
    position: absolute;
    top: 227.5px;
    border-bottom-left-radius:5px ;
    border-bottom-right-radius:5px ;
}
.card_body2{
    width: 0;
    height: 33%;
    border-left: 162px solid white;
    border-top: 70px solid transparent;
    position: absolute;
    top: 234px;
    border-bottom-left-radius:5px ;
    border-bottom-right-radius:5px ;
}