
.footermaincontaint{
    width:80%;
    margin-left: auto;
    margin-right: auto;
}
.card-body2 h6{
    font-family:arimo;
}

.footer_head{
    background: #0D0E1E;
    position: relative;
    top: 100px;
}
.foot_logo img{
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius:50% ;
}
.main_border {
   
    padding: 40px;   
}
.emailtext{
    color:white;
    font-size:18px;
}
.lastfooter2{
    font-size:18px;
}

.social_icon1 {
    width: 30px; 
    height: 30px;
    border: 1px solid #414042;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social_icon1 i {
    font-size: 13px; 
    color: white;

}

.social_icon2{
    width: 30px; 
    height: 30px;
    border: 1px solid #414042;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}
.social_icon2 i {
    font-size: 13px; 
    color: white;
}
.lastfooter{
    padding:20px;
    width:80%;
    margin:auto;
}


@media only screen and (max-width:450px){
    .footermaincontaint{
        width:100%;
        margin-left: auto;
        margin-right: auto;
        
    }
    .card-body2 p{
        font-size:7px;
        line-height:1px;
        
    }
    .card-body3 p{
        font-size:7px;
        line-height:15px;
    }
    .row{
        width:100%;
    }
    .main_border {
        
        padding: 10px;   
    }
    .emailtext{
        font-size:7px;
    }
    .card-body4{
        font-size:7px;
        line-height:10px;
    }
    .headingfooter{
        font-size:14px;
    }
    .lastfooter{
        width:100%;
    }
    .lastfooter2{
        font-size:10px;
        margin-left:30px;
    }
}

