.footermaincontaint{
    width:80%;
    margin-left: auto;
    margin-right: auto;
}



.footer_head{
    background: #0D0E1E;
    position: relative;
    top: 100px;
}
.foot_logo img{
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius:50% ;
}
.main_border {
    padding: 40px; 
    padding-bottom:0px;  
}
.emailtext{
    color:white;
    font-size:18px;
}
.lastfooter2{
    font-size:18px;
}

.social_icon1 {
    width: 40px; 
    height: 40px;
    border: 1px solid #414042;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social_icon1 i {
    font-size: 13px; 
    color: white;
}

.social_icon2{
    width: 40px; 
    height: 40px;
    border: 1px solid #414042;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}
.social_icon2 i {
    font-size: 13px; 
    color: white;
}
.lastfooter{
    padding:20px;
    width:80%;
    margin:auto;
}
.card-body3 p{
    font-size:18px;
    font-family:arimo;
}
.card-body2 p{
    font-family:arimo;
font-size:18px;
}
.graycolor{
   color:rgba(155, 155, 155, 1)

}



@media only screen and (max-width:450px){
    .footermaincontaint{
        margin-top:-10px;
        width:95%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .card-body3 p{
        font-size:12px;
        line-height:15px;
    }
    .row{
        width:100%;
    }
    .main_border {
        padding: 10px;   
    }
    .emailtext{
        font-size:10px;
    }
    .card-body41 .card-body4{
        font-size:12px;
        line-height:10px;
        font-family:Arimo;
    }
    .headingfooter{
        font-size:18px;
    }
    .lastfooter{
        width:100%;
    }
    .lastfooter2{
        font-size:12px;
        margin-left:20px;
    }
    .card-body2 .number1, .card-body2 .number2{
        line-height:10px;
        font-size:12px;
       
    }
   
    .number2{
        margin-top:5px;
        margin-bottom:10px;
    }
    .footer_head{
     
        top: 0px;
    }
    .social_icon2,.social_icon1{
        width: 25px; 
        height: 25px;
        
    }
}