
.wwd_heading1, .wwd_para{
    color:#3535DE;
    font-size:48px;
    font-weight:700px;
    font-family:Arimo;
}
.wwd_para{
    color:black;
}

.wwdCard_heading{
    color: #3535DE;
}
.whatwedomain{
    width:80%;
    margin-left:auto;
    margin-right:auto;
}
.Design_devolopment_card{
    border: 1px solid #414042;
    
}


@media only screen and (max-width:425px){
    
    .whatwedomain{
        width:96%;  
    }
    .wwd_heading1, .wwd_para{
        font-size:18px;
    }
    
    
    .whatwedoimg{
        width:50px;
        height:50px;
    }
    .wwdCard_heading{
        font-size:16px;
    }
    .wwdCard_subheading{
        font-size:11px;
    }


}