.container-ddproject{
    width:80%;
    margin-left:auto;
    margin-right:auto;
}

.projecthead{
font-size:27px;
font-family:poor richard;
font-weight:100;
}

.ddprojectcard{
    height:200px;

}
.cardddproject{
    height:340px;
}
@media only screen and (max-width:425px){
    .container-ddproject{
        width:100%;
    }
   
    .projecthead{
    font-size:15px;
    }
    .projrctheading{
        font-size:12px;
    }
    .pro_cardimg{
        width:70px;
    }
    .cardddproject{
        height:270px;
    }
}
