/* App.css */

/* Default styles for small desktop screens */

/* Medium desktop screens */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .container {}
}

/* Large desktop screens */
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .container {}
}

/* Extra large desktop screens */
@media only screen and (min-width: 1441px) {
  .container {
    padding: 50px;
    font-size: 20px;
  }
}

h1, h2, h3, h4, h5 {
  font-family: 'Poor Richard', serif;
}

p, h6, small, a, .form-label, ul, .card-footer {
  font-family: 'Arimo', sans-serif;
}

/* HOME PAGE CSS START */
.home_page {
  background-color: #0D0E1E;
  overflow-x: hidden;
}

.home_heading {
  position: absolute;
  top: 100px;
  margin: 0px;
}

/* carouse css */
.body_carousel {
  position: absolute;
  top: 664px;
  /* left: 150px; */
}

.csrousel_text {
  position: absolute;
  top: 70px;
  left: 80px;
}

.carousel_para {
  background-color: rgba(0, 0, 0, 0.70);
  position: relative;
  top: 140px;
  left: 100px;
}

/* carouse css END*/

/* plane css */
.carouselbtnimg {
  height: 50px;
  width: 50px;
  display: flex;
  margin-top: 70px;
  border: 1px solid black;
  padding: 10px;
  overflow-x: hidden;
}

.corimg {
  height: 200px;
}

/* plane css end*/
/* Design & Development css */
.plane_head {
  margin-top: 200px;
}

.dd_heading {
  border-left: 6px solid blue;
  font-family: 'Poor Richard', serif;
}

.ddimg1 {
  height: 450px;
}

.ddimg2 {
  height: 450px;
  position: relative;
  right: 250px;
}

.dd_body {
  position: relative;
  bottom: 300px;
  border-radius: 5px;
}

small {
  font-family: 'Arimo', sans-serif;
}

.dd_para, .ddimg_heading {
  font-family: 'Arimo', sans-serif;
}

/* Design & Development css end */

/* Product */

/* Product end*/

/* HOME PAGE CSS END */