*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.design_development{
  position: absolute;
  /* top: 400px; */

}
.maincolor{
  color:#3535DE;
}
.bordermaincolor{
  border-color:#3535DE;
}
.backgroundcolormain{
  background-color:#3535DE;
}
.fontfamilyPrimary{
  font-family:"poor Richard"
}
.fontfamilySecondary{
  font-family:'Arimo'
}
.fontsecondry{
font-size:18px;
}
.carousaliner{
  width:944.3px;
  height:598.5px;
}
.indicator{
  margin-left:350px;
}
@media only screen and (max-width: 450px) {
  .fontsecondry{
    font-size:12px;
    }
    .carousaliner{
      width:360px;
      height:auto;
    }
    .indicator{
     
      margin-left:100px;
    }
}
