*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.design_development{
  position: absolute;
  

}
.maincolor{
  color:#3535DE;
}
.bordermaincolor{
  border-color:#3535DE;
}
.border-primary{
border:2px solid #3535DE;
}
.backgroundcolormain{
  background-color:#3535DE;
}
.fontfamilyPrimary{
  font-family:"poor Richard"
}
.fontweight{
  font-weight:100;
}
.fontfamilySecondary{
  font-family: 'Arimo', sans-serif;
}
.fontsecondry{
font-size:18px;
}
.carousaliner{
  width:944.3px;
  height:598.5px;
}
.indicator{
  margin-left:350px;
}
.container{
  width:80%;
  margin-left:auto;
  margin-right:auto;

}
@media only screen and (max-width: 425px) {
  .fontsecondry{
    font-size:12px;
    }
    .carousaliner{
      width:360px;
      height:auto;
    }
    .indicator{
     
      margin-left:100px;
    }
    .container{
      width:100%;      
    }
}
