
/* body {
    font-family: Arial, sans-serif;
} */

.header-container {
    width: 80%;
    margin: auto;
    display: flex;
    padding-top: 80px;
}

.header-bar {
    width: 10px;
    height: 70px;
    background-color: blue;
    border-radius: 10px;
}

.header-text {
    font-size: 48px;
    font-family: "Poor Richard", serif;
    line-height: 1.2;
}

.sub-header-text {
    font-size: 18.11px;
}

.carouselplan{
    
    width: 80%;
    margin: auto;
    position: relative;
}
.carauelplanmain{
    width:100%;
 
}

.carousel-inner {
    height: 300px;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-item {
    display: none;
    width: 100%;
    transition: transform 0.6s ease;
}

.carousel-item.active {
    display: block;
}

.carousel-caption {
    position: absolute;
    bottom: 5px;
    margin-left:-150px;
    width: 100%;
    text-align: center;
  
}

.carousel-caption-text {
    color: #3535DE;
    font-size: 26px;
    font-weight: bold;
    margin-top:-180px;
}

.carousel-thumbnails {
    display: flex;
    justify-content: center;
    gap: 0px;
    padding-top:20px;
   
}

.carousel-thumbnails img {
    width: 60px;

    padding:0px;
    cursor: pointer;
    transition: border-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    border: 1px solid transparent;
    border-radius: 5%;
}

.carousel-thumbnails img.active {
    border-color: blue;
    transform: scale(1.2);
}

.innercarousal {
    height: 75vh;
    margin-top:-16px;

}
.carousel-arrow{
    width:50px;
    height:50px;
}


@media only screen and (max-width: 450px) {
    .carousel-thumbnails img {
        width: 40px;
        padding: 5px;
    }

    .carousel-caption {
        top: 280px;
        margin-left:-120px;
        
    }

    .carousel-caption-text {
        margin-left: 150px;
        font-size: 14px;
        
    }

    .carousel-thumbnails {
        gap: 0px;
    }

    .innercarousal {
        margin-top:50px;
        height: 40vh;
    }

    .header-container {
        padding-top: 20px;
    }
    .carauelplanmain{
      margin-top:-40px;
     
    }
    .carousel-arrow{
        width:25px;
        height:25px;
        margin-top:-50px;
    }
    .carousel-inner{
        height:170px;
    }
    
}
