.case_heading {
    border-left: 6px solid #3535DE;
}


.carousel-indicators .active {
    background-color: gray;
}

.image-container {
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 115%);
    height: 70vh;
    width: 85vw;
    position: relative;
    left: 175px;
}
.caseimg_carousel{
    position: absolute;
    top:140px;
    left: 100px;
    }