.lifecycle_heading{
    border-left: 6px solid #3535DE;
}
.lifecycle_tri1{
    width: 0;
    height: 0;
    border-bottom: 350px solid #000;
    border-right: 190px solid transparent;
    border-left: 190px solid transparent;
}