.owlcarousel_main{
    position: relative;
    bottom: 100px;
    width:80%;
    margin:auto;
}


.owl_img img{
    height:230.5px ;
    width: 150.75px;
    
}
.owlnames{
font-size:24px;
line-height:25px;
}
/* style={{fontSize:'24px', lineHeight:'25px'}} */
@media only screen and (max-width: 450px) {
    .owl_img img{
        height:107.5px ;
        width: 137.75px;
        
    }
    .owlcarousel_main{
       
        width:90%;
        bottom: 50px;
       
    }
    .owlnames{
        font-size:12px;
        line-height:15px;
        }
}